.password-inner {
    margin-top: 30px;
    width: 45rem;
}
.password-inner button {
    margin-top: 10px;
    width: 25rem;
}
.password-inner div {
    margin-top: 10px;
}
.input-alert-wrapper input {
    display: inline-block !important;
    width: 25rem;
}
.input-alert-wrapper span {
    padding-left: 15px;
    color: #FF5722;
}
